.bg-img{
  background-image: url('./images/bannerbackground.png');
  height: 475px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-bg-img{
  background-image: url('./images/bannerbackground.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
